services:
  db:
    image: postgres:17.4
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    volumes:
      - database:/var/lib/postgresql/data
    ports:
      - 9999:5432
volumes:
  database: